{% extends 'userAuth/home.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3>Insert new Board</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <label for="colorCode">Insert the color code</label>
                <input type="text" name="colorCode" size="25" minlength="1" required>
                <br>
                <label for="colorName">Insert the color name</label>
                <input type="text" name="colorName" size="25" minlength="1">
                <br>
                <label for="brand">Insert the manufacter</label>
                <input type="text" name="brand" size="25" minlength="1" required>
                <br>
                <label for="material">Insert the material type</label>
                <input type="text" name="material" size="25" minlength="1" required>
                <br>
                <label for="height">Insert height (mm)</label>
                <input type="number" name="height" size="10" minlength="1" required>
                <br>
                <label for="length">Insert length (mm)</label>
                <input type="number" name="length" size="10" minlength="1" required>
                <br>
                <label for="width">Insert width (mm)</label>
                <input type="number" name="width" size="10" minlength="1" required>
                <br>
                <label for="photo">Insert material photo</label>
                <input type="file" name="photo">
                <br>
                <input type="submit" class="btn btn-primary btn-sm" value="Add">
            </form>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {{ message}}
                {% endfor %}
            </ul>
    {% endif %}
    </div>
{% endblock %}