{% extends 'main.html' %}

{% block content %}
<br>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='home/newBoard'">newBoard</button>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='home/newStockBoard'">newStockBoard</button>
<br>
<br>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='home/newEdge'">newEdge</button>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='home/newStockEdge'">newStockEdge</button>
{% endblock %}